/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: #dcf5f7;
  font-family: 'Roboto', sans-serif; }

header {
  width: 100%;
  margin: auto;
  max-width: 72rem;
  background-color: #c7f0f3; }
  header hr {
    position: relative;
    margin-top: -1px;
    margin-bottom: -1px;
    margin-left: 62px; }
  header img.logo {
    margin-top: 5px; }

nav {
  background-color: #c7f0f3;
  display: flex;
  width: auto;
  justify-content: center;
  max-width: 72rem;
  margin: auto;
  padding-top: 1.6666666667px;
  padding-bottom: 1.6666666667px; }
  nav ul {
    text-decoration: none;
    display: flex;
    width: 100%;
    justify-content: center; }
    nav ul li a:hover {
      color: #0480b1; }
    nav ul li {
      padding: 0;
      margin-right: 5vw;
      clear: both; }
      nav ul li i {
        font-size: 26px; }
      nav ul li a {
        text-decoration: none;
        color: rgba(27, 36, 44, 0.836); }
      nav ul li i {
        margin-right: .5vw; }

main {
  background-color: #c7f0f3; }
  main a {
    text-decoration: none;
    color: inherit; }
  main a:hover :not(button) {
    color: #0480b1; }
  main img.HeroImg {
    width: 100%; }
  main img.HeroImg {
    margin-bottom: 5px;
    contain: content; }
  main div#div1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: black;
    color: white; }
    main div#div1 div#div11:nth-child(1) {
      grid-column: 1/span 3; }
    main div#div1 h1 {
      color: #fdd831; }
    main div#div1 ul#bestList {
      display: flex;
      flex-direction: column;
      text-align: left;
      justify-content: center;
      margin-bottom: 10px;
      font-size: 16px; }
      main div#div1 ul#bestList li {
        margin-left: 33%; }
    main div#div1 div#div11 {
      margin-right: 5px;
      padding-left: 45px;
      margin-left: 5px; }
      main div#div1 div#div11 h1#Expecth1 {
        font-size: 26px;
        padding-bottom: 5px;
        padding-top: 5px;
        font-weight: 400; }
      main div#div1 div#div11 h2 {
        font-size: 13px;
        margin-bottom: 5px;
        font-weight: 100; }
    main div#div1 div#div12 {
      text-align: right;
      padding: 5px;
      padding-right: 0;
      padding-right: 45px; }
      main div#div1 div#div12 h1#ourFormula {
        font-size: 26px;
        padding-bottom: 5px; }
      main div#div1 div#div12 h2 {
        font-size: 20px; }
    main div#div1 h1#h1Success {
      font-size: 36px;
      padding-top: 5px; }

div.moreAboutUs {
  display: grid;
  background-color: #c7f0f3;
  grid-template-columns: 1fr 1fr; }
  div.moreAboutUs div {
    margin: 5px; }
  div.moreAboutUs div {
    text-align: center; }
  div.moreAboutUs img {
    width: 33vw;
    margin-top: 10px; }
  div.moreAboutUs div h2 {
    text-align: left; }
  div.moreAboutUs p, div.moreAboutUs h2 {
    margin-right: 45px;
    margin-left: 45px; }

div#gridAreas h1 {
  font-size: 32px;
  font-weight: 300;
  color: #0480b1;
  letter-spacing: 2px;
  margin-top: 10px;
  margin-bottom: -15px;
  margin-left: 5px;
  padding-left: 45px; }
div#gridAreas h2 {
  color: #0480b1;
  font-size: 26px;
  padding-top: 5px;
  padding-bottom: 8px;
  font-weight: 300; }
div#gridAreas p {
  font-size: 13px;
  width: auto;
  text-align: left;
  padding-bottom: 15px; }
div#gridAreas h2, div#gridAreas p {
  margin: 0;
  margin-left: 45px;
  margin-right: 45px; }

div.AU1 {
  display: grid;
  width: auto;
  grid-template-columns: 1fr;
  grid-column: 1/ span 1;
  margin: 5px;
  text-align: center; }
  div.AU1 img {
    width: 34vw;
    justify-content: center;
    margin: 5px; }
  div.AU1 p, div.AU1 h2 {
    margin-right: 12.5px;
    margin-left: 12.5px;
    text-align: left; }

div.AU2 {
  display: grid;
  grid-column: 2/ span 1;
  width: auto;
  grid-auto-columns: auto;
  margin: 5px;
  text-align: center; }
  div.AU2 img {
    width: 34vw;
    justify-content: center;
    text-align: center;
    margin: 5px; }
  div.AU2 p, div.AU2 h2 {
    margin-right: 12.5px;
    margin-left: 12.5px;
    text-align: left; }

div#AboutUsTwo {
  background-color: #d4f3f5;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto; }

div#Tech {
  grid-column: 1/ span 4;
  margin: 5px;
  padding-left: 35px; }
  div#Tech h2 {
    text-align: left;
    margin-right: 15px;
    margin-left: 10px; }
  div#Tech p {
    text-align: left;
    width: auto;
    margin-right: 15px;
    margin-left: 10px; }

div#pricing img {
  width: 34vw;
  margin-top: 45px; }

div#pricing {
  grid-row: 3/ span 1;
  grid-column: 1/ span 1;
  display: flex;
  flex-direction: column;
  width: auto;
  justify-content: center;
  margin: auto;
  margin-bottom: 50px; }
  div#pricing p {
    font-size: x-small;
    text-align: center;
    margin: auto;
    margin-top: 10px; }
  div#pricing button {
    margin-right: auto;
    margin-left: auto;
    margin-top: -80px;
    width: 25vw;
    border-radius: 3em;
    background-color: #0480b1;
    color: white; }

div#logos {
  grid-template-rows: 1fr 1fr;
  grid-column: 2/ span 1; }
  div#logos div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: end; }
  div#logos img {
    width: 100px;
    margin-top: 9vw; }

footer {
  position: relative;
  bottom: 0;
  text-align: center;
  padding: 12.5px;
  background-image: linear-gradient(#229199, #329);
  color: white; }

@media only screen and (min-width: 35rem) {
  nav ul {
    justify-content: right; } }
@media only screen and (min-width: 72rem) {
  nav ul {
    justify-content: right; }

  main {
    max-width: 1152px;
    margin: auto; }

  div#aboutUsTwo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; }

  div.moreAboutUs {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 15px; }
    div.moreAboutUs img {
      width: auto; }
    div.moreAboutUs h2, div.moreAboutUs p {
      margin: 0;
      margin-left: 25px;
      margin-right: 25px; }

  div#AboutUsTwo {
    margin: 0;
    padding: 0; }
    div#AboutUsTwo img {
      width: auto; }
    div#AboutUsTwo h2, div#AboutUsTwo p {
      margin: 0;
      margin-left: 50px;
      margin-right: 50px; }

  div#logos img {
    margin: 0; }

  div#pricing {
    margin-top: -2.5px;
    grid-row: 1/ span 2;
    grid-column: 3/ span 1;
    display: flex;
    flex-direction: column;
    margin-right: 15px; }
    div#pricing button {
      width: 55%;
      margin-bottom: 12px;
      margin-right: 0;
      margin-left: 0;
      align-self: center; }
    div#pricing img {
      margin-top: 0;
      padding-top: 0;
      vertical-align: top;
      width: 87%;
      margin: 0;
      padding: 0;
      align-content: center;
      align-self: center; }

  div#Tech {
    grid-column: 1/ span 2;
    padding-left: 0; }
    div#Tech h2 {
      text-align: left; }

  div#logos {
    grid-template-rows: 1fr 1fr;
    grid-column: 1/ span 4; }
    div#logos div {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr; }
    div#logos img {
      padding: 5px;
      vertical-align: bottom;
      width: auto; }

  div#div1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: black;
    color: white; }
    div#div1 div#div11:nth-child(1) {
      grid-column: 1/span 3; }
    div#div1 h1 {
      color: yellow; } }

/*# sourceMappingURL=styles.css.map */
