html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; 
}

body{
    background-color: lighten($primaryColor, 55%);
    font-family: 'Roboto', sans-serif;
}

//Header
header {
    width: 100%;
    margin: auto;
    max-width: 72rem;
    background-color: lighten($primaryColor, 50%);

    hr{
        position: relative;
        margin-top: -1px;
        margin-bottom: -1px;
        margin-left:62px;
    }
    img.logo{
    margin-top: $gutter;
}
}

//End Header
//Navigation
nav{
    background-color: lighten($primaryColor, 50%);
    display: flex;
    width: auto;
    justify-content: center;
    max-width: 72rem;
    margin: auto;
    padding-top: $gutter/3;
    padding-bottom: $gutter/3;
    ul{
    text-decoration: none;
    display: flex;
    width: 100%;

    justify-content: center;
li a:hover{
    color: #0480b1;
}
    li{
    padding: 0;

        margin-right: 5vw;
        clear: both;
        i{
            font-size: 26px;
        }
        a{
            text-decoration: none;
            color: rgba(27, 36, 44, 0.836);

        }
        i{
            margin-right: .5vw;
        }
    }
    }

}
//End Navigation

//Main
main{
    a{
        text-decoration: none;
        color: inherit;
    }
    a:hover :not(button){
        color: #0480b1;
        
    }
    
    img.HeroImg{
        width: 100%;
    }
    img.HeroImg{
        margin-bottom: $gutter;
        contain: content;
    }
        background-color: lighten($primaryColor, 50%);
    div#div1{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        background-color: black;
        color: white;

        div#div11:nth-child(1){grid-column: 1/span 3;}

        h1{
            color: #fdd831;
            
        }

        ul#bestList{
            display: flex;
            flex-direction: column;
            text-align: left;
            justify-content: center;
            margin-bottom: $gutter*2;
            font-size: 16px;
            li{
                margin-left: 33%;
            }
        }
        div#div11{
            margin-right: $gutter;
            padding-left: $gutter;
            h1#Expecth1{
                font-size: 26px;
                padding-bottom: $gutter;
                padding-top: $gutter;
                font-weight: 400;

            }
            h2{
                font-size: 13px;
                margin-bottom: $gutter;
                font-weight: 100;

            }
        }
        div#div12{
            text-align: right;
            padding: $gutter;
            h1#ourFormula{
                font-size: 26px;
                padding-bottom: $gutter;
            }
            h2{
                font-size: 20px;
            }
        }
        h1#h1Success{
            font-size:36px;
            padding-top: $gutter;
        }
    }

}
//End Main

div.moreAboutUs{
    display: grid;
    background-color: lighten($primaryColor, 50%);
    grid-template-columns: 1fr 1fr;
    div{margin: $gutter;}
    div{ text-align: center;}
    img{ width: 33vw; margin-top: $gutter * 2;}
    div h2{
        text-align: left;
    }
    p, h2 {
        margin-right: $gutter*3;
        margin-left: $gutter*3;
    }
}


div#gridAreas{
    
    h1{
        font-size: 32px;
        font-weight: 300;
        color: $fontColor;
        letter-spacing: 2px;
        margin-top: $gutter*2;
        margin-bottom: -15px;
        margin-left: $gutter;
    }
    h2{
        color: $fontColor;
        font-size: 26px;
        padding-top: 15px;
        padding-bottom: 8px;
        font-weight: 300;
    }
    p{
        font-size: 13px;
        width: auto;
        text-align: left;
    }
}
div.AU1{
            display: grid;
            width: auto;
            grid-template-columns: 1fr;
            grid-column: 1/ span 1;
            margin: $gutter;
            text-align: center;
            img{
                width: 34vw;
                justify-content: center;
                margin: $gutter;

            }
            p, h2 {
                margin-right: $gutter*2.5;
                margin-left: $gutter *2.5;
                text-align: left;
            }
}
div.AU2{
    display: grid;
    grid-column: 2/ span 1;
    width: auto;
    grid-auto-columns: auto;
    margin: $gutter;
    text-align: center;
    img{
        width: 34vw;
        justify-content: center;
        text-align: center;
        margin: $gutter;

    }
    p, h2 {
        margin-right: $gutter*2.5;
        margin-left: $gutter *2.5;
        text-align: left;
    }
}
div#AboutUsTwo{
    background-color: lighten($primaryColor, 53%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;


    //grid-template-rows: 1fr 1fr;

 

    //Logos

}

div#Tech{
    grid-column: 1/ span 4;
    margin: $gutter;
    h2{
        text-align: left;
        margin-right: 6vw;
    margin-left: 4vw;}
    p{
    text-align: left;
    width: auto;    
    margin-right: 6vw;
    margin-left: 4vw;
}
}
div#pricing{
    img{

    width: 37vw;
    margin: 3vw;}

}
div#pricing{
    grid-row: 3/ span 1;
    grid-column: 1/ span 1;
    display: flex;
    flex-direction: column;
    width: auto;
    justify-content: center;
    margin: auto;
    margin-bottom: 50px;


    p{
        font-size: x-small;
        text-align: center;
        margin: auto;
        margin-top: 10px;

    }
    button{
        margin-right: auto;
        margin-left: auto;
        margin-top: -80px;
        width: 25vw;
        border-radius: 3em;
        background-color: #0480b1;
        color: white;

    }
}
div#logos{
    grid-template-rows: 1fr 1fr;
    grid-column: 2/ span 1;
    div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: end;
    
    }
    img{

        width: 100px;
        margin-top: 9vw;


    }
    //end Logos
}
//Footer
footer{
    position:relative;
    bottom: 0;
    text-align: center;
    padding: 12.5px;
    background-image: linear-gradient($primaryColor, $secondaryColor);
    color: white;
}
//End Footer